.container {
	display: grid;
	grid-template-columns: 7.5% 5.25fr 1.5fr;
}

.profile {
	outline: 2px solid black;
	height: 99%;
	width: 95%;
	justify-self: center;
	align-self: center;
	border-radius: 20px;
}
